html { 
	background-color: rgb(66, 98, 134);
}
#sve { 
	text-align: center;
	border: thin solid black; 
	width:350px; 
	height:350px; 
	text-align: center; 
	background-color: rgb(183, 208, 236); 
	word-wrap: break-word; 
	/* words won't go from the boundry */ 
	margin: 0 auto; 
	/* top, left, bottom*/ 
	padding: 30px 30px 50px; 
	
}

#bod {
	text-align: center;
}

ul {
    text-align: center;
    list-style-position: inside;
	padding-left: 0%;
}

.done {
	text-decoration: line-through;
}